html{
    background-color: black;
   
}
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
      cursor: crosshair;
}
.first_screen{
    position: relative;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.section_dance{
display: flex;
width: 200%;
animation: lol 4s linear infinite;
pointer-events: visible;
overflow: hidden;
}
@keyframes lol {
  from { transform: translateX(-40%); }
  to   { transform: translateX(0%); }
}
.section_dance:hover{
  animation-play-state:paused;
   
}

.section_dance_second{
display: flex;
overflow: hidden;
width: 200%;
animation: lol2 4s linear infinite;;
}
.section_dance_second:hover{
  animation-play-state:paused;
 
}
@keyframes lol2 {
  from { transform: translateX(0%); }
  to   { transform: translateX(-40%); }
}

.basadancer {
    position: relative;
    width: 10vw;
    height: 10vw;
    display: block;
}

.dancer {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../img/dancers.png);
    background-size: cover;
    animation: dancer 2s steps(1) infinite;
   
}


@keyframes dancer{
    0%{ background-position: 0vw 0vw;}
    13%{ background-position: -10vw 0vw;}
    27%{ background-position: -20vw 0vw;}
    30%{ background-position: -30vw 0vw;}
    45%{ background-position: -40vw 0vw;}
    59%{ background-position: -50vw 0vw;}
    75%{ background-position: -60vw 0vw;}
    8%{ background-position: -70vw 0vw;}
    100%{ background-position: -80vw 0vw;}
 }

.dancer2 {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../img/dancers.png);
    background-size: cover;
    animation: dancer2 2s steps(1) infinite;
   
}

@keyframes dancer2{
    0%{ background-position: 0vw 0vw;}
    13%{ background-position: -20vw 0vw;}
    27%{ background-position: -10vw 0vw;}
    30%{ background-position: -30vw 0vw;}
    45%{ background-position: -50vw 0vw;}
    59%{ background-position: -40vw 0vw;}
    75%{ background-position: -70vw 0vw;}
    8%{ background-position: -80vw 0vw;}
    100%{ background-position: -60vw 0vw;}
 }

.lighting{
    position: relative;
}
.lights{
    position: relative;
    width: 80vw;
    height: 30vw;
    margin-top: 0%;
    margin-left: 10%;
    animation: lights 0.8s linear infinite;
    background-image: url("../img/lights4444.png");
    background-size: 100%;
    overflow: hidden;
}
@keyframes lights{
    0%{ transform: scale(1);}
    25%{ transform:scale(1.3);}
    50%{transform: scale(1.5);}
    75%{ transform:scale(1.3);}
    100%{ transform: scale(1);}
}
.lighting > img {

 position: absolute;

}

.g{
    width: 12.04%;
    height: auto;
    margin-left: 30%;  
    margin-top: -25%;
    position: relative;  
}
.gred{
      width: 12.04%;
    height: auto;
   margin-left: 30%;  
   margin-top: -25%;
   position: relative;
   opacity: 0;

}

.gred:hover{
    opacity: 100;
}

.r{
   margin-left: 43%;  
    margin-top: -18.7%;
     width: 5.58%;
      height: auto;
}

.rblue{
     margin-left: 43%;  
    margin-top: -18.7%;
     width: 5.58%;
      height: auto;
      opacity: 0;
}
.rblue:hover{
   
      opacity: 100;
}

.a{
   margin-left: 47%;  
    margin-top: -19%;
     width: 7.94%;
    height: auto;
}
.ayellow{
   margin-left: 47%;  
    margin-top: -19%;
     width: 7.94%;
    height: auto;
    opacity: 0;
}
.ayellow:hover{
    opacity: 100;
}


.v{
   margin-left: 53%;  
    margin-top: -18.5%;
     width: 6.42%;
    height:auto ;
}
.vfiolet{
   margin-left: 53%;  
    margin-top: -18.5%;
     width: 6.42%;
    height:auto ;
    opacity: 0;
}
.vfiolet:hover{
    opacity: 100;
}

.e{
   margin-left: 57.8%;  
    margin-top: -18%;
      width: 7.81%;
    height: auto;
}
.egreen{
   margin-left: 57.8%;  
    margin-top: -18%;
      width: 7.81%;
    height: auto;
    opacity: 0;
}
.egreen:hover{
    opacity: 100;
}


.i{
   margin-left: 58%;  
    margin-top: -20%;
      width: 11.97%;
    height: auto;
}
.ired{
   margin-left: 58%;  
    margin-top: -20%;
      width: 11.97%;
    height: auto;
    opacity:0;
}

.ired:hover{
   
    opacity:100
}

.images-row {
    display: flex;
    width: 100%;
    position: relative;
}

.second_section{
    position: relative;
    display: flex;
}
.box1, .box2, .box3 {
    position: relative;
    width: 33.333%; 
    height: auto;
    overflow: hidden;
    display: block;
}

.green {
    position: relative;
    width: 80%; 
    margin-top: 10%;
    margin-left: 5%;
    height: auto;
    animation: rotateAnimation 4s infinite linear;
    transform-origin: center center;
    display: block; 
}
    
.blue {
    position: relative;
    width: 80%; 
    height: auto;
    margin-top: 10%;
    margin-left: 5%;
    animation: rotateAnimation 4s infinite linear;
    transform-origin: center center;
    display: block; 
}


    
   
.fiolet {
    position: relative;
    width: 80%; 
    height: auto;
    margin-top: 10%;
    margin-left: 5%;
    animation: rotateAnimation 4s infinite linear;
    transform-origin: center center;
    display: block; 
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.textone {
    position: absolute;
    font-size: 5vw;
    text-align: center;
    color: rgb(255, 255, 255);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    z-index: 1;
}

.box1 .textone:hover {
    animation: pulsegreen 1.5s infinite alternate;
    color: #00ff88;
}

.box2 .textone:hover {
    animation: pulseblue 1.5s infinite alternate;
    color: #00a8ff;
}

.box3 .textone:hover {
    animation: pulsepurple 1.5s infinite alternate;
    color: #9c88ff;
}

@keyframes pulsegreen {
    from {
        transform: translate(-50%, -50%) scale(1);
        text-shadow: 0 0 5px #00ff88;
    }
    to {
        transform: translate(-50%, -50%) scale(1.2);
        text-shadow: 0 0 20px #00ff88, 0 0 30px #00ff88;
    }
}

@keyframes pulseblue {
    from {
        transform: translate(-50%, -50%) scale(1);
        text-shadow: 0 0 5px #00a8ff;
    }
    to {
        transform: translate(-50%, -50%) scale(1.2);
        text-shadow: 0 0 20px #00a8ff, 0 0 30px #00a8ff;
    }
}

@keyframes pulsepurple {
    from {
        transform: translate(-50%, -50%) scale(1);
        text-shadow: 0 0 5px #9c88ff;
    }
    to {
        transform: translate(-50%, -50%) scale(1.2);
        text-shadow: 0 0 20px #9c88ff, 0 0 30px #9c88ff;
    }
}

.box-sections{
    overflow-x: hidden;
}

.row1{
    display: flex;
    width: 100%;
    height: 38vw;
}
.blueblock{
    position: relative;
    width: 33.333%; 
    height: auto;
    background-size: 100%;
    background-image: url(../img/blueblock.png);
    background-repeat: no-repeat;
    
}
 .elipse {
    position: absolute;
    width: 18vw;
    height: 18vw;
    top: 25%;
    margin-left: 8vw;
     background-color: rgb(0, 0, 0);
    border-radius: 50%; 
    filter: blur(4vw); 
    }
    
.elipse:hover {
    position: absolute;
  animation: colorCycle 3s infinite;
    }

    @keyframes colorCycle {
    0% { background-color: #ff0000; }
    25% { background-color: #00ff00; }
    50% { background-color: #ffffff; }
    75% { background-color: #ffff00; }
    100% { background-color: #ff00ff; }
}
.hands{
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  pointer-events: none; 

}
.hand1{
    position: relative;
    width: 48%;
    height: auto;
    top: 10%;
    right: -6%;
     animation: sway 4s ease-in-out infinite;
    transition: animation-duration 0.3s;
   
}
.hand2{
    position: relative;
    width: 48%;
    height: auto;
    top:-11%;
    right: 6%;
     animation: swayy 4s ease-in-out infinite;
    transition: animation-duration 0.3s;
}
@keyframes sway {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(-6deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(6deg); }
}
@keyframes swayy {
    0%, 100% { transform: rotate(-6deg); }
    25% { transform: rotate(0deg); }
    50% { transform: rotate(6deg); }
    75% { transform: rotate(0deg); }
}
.blueblock:hover .hand1,
.blueblock:hover .hand2 {
    animation-duration: 0.5s;
    animation-name: fastSway;
}

@keyframes fastSway {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(-3deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(3deg); }
}
 
  
 .redblock{
    position: relative ;
    width: 67.667%;
     height: 38vw;
    background-size: 100%;
    background-image: url(../img/redblock.png);
    background-repeat: no-repeat;
    
} 
.row2{
    display: flex;
    width: 100%;
}
.greenblock{
    position: relative ;
    width: 67%;
    height: 38vw;
    overflow: hidden;
    background-image: url("../img/greenblock.png");
    background-size: 100%;
}

.devils{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    pointer-events: none;  
}
.black{
    position: relative;
    width:20%;
    height: auto;
    top: 3%;
    right: -28%;
    animation: blackjump 4s infinite ease-in-out;
    transform-origin: center;
}
@keyframes blackjump {
    0%, 100% {
        transform: translateX(0) translateY(0) scaleX(1);
    }
    12.5% {
       
        transform: translateX(-4vw) translateY(-3vw) scaleX(1);
    }
    25% {
       
        transform: translateX(-6vw) translateY(0) scaleX(1);
    }
    37.5% {
        transform: translateX(-8vw) translateY(-4vw) scaleX(1);
    }
    50% {
        transform: translateX(-6vw) translateY(0) scaleX(-1);
    }
    62.5% {
        transform: translateX(-4vw) translateY(-3vw) scaleX(-1);
    }
    75% {
        transform: translateX(0) translateY(0) scaleX(-1);
    }
    87.5% {
        transform: translateX(0) translateY(-3vw) scaleX(-1);
    }
}

.white{
    position: relative;
    width: 20%;
    height: auto;
    top: 3%;
    right: 28%;
     animation: whitejump 4s infinite ease-in-out;
    transform-origin: center;
}
@keyframes whitejump {
    0%, 100% {
        transform: translateX(0) translateY(0) scaleX(1);
    }
    12.5% {
        transform: translateX(4vw) translateY(-3vw) scaleX(1);
    }
    25% {
        transform: translateX(6vw) translateY(0) scaleX(1);
    }
    37.5% {
        transform: translateX(8vw) translateY(-4vw) scaleX(1);
    }
    50% {
        transform: translateX(6vw) translateY(0) scaleX(-1);
    }
    62.5% {
        transform: translateX(4vw) translateY(-3vw) scaleX(-1);
    }
    75% {
        transform: translateX(0) translateY(0) scaleX(-1);
    }
    87.5% {
        transform: translateX(0) translateY(-3vw) scaleX(-1);
    }
}



.xvostic1 {
    position: absolute;
    width: 25%;
    top: 35%;
    left: -2%;
    rotate: -15deg;
    transition: left 1.5s ease 0.25s;
    pointer-events:visible;
    z-index: 1000;
}

.xvostic1:hover {
    left: -50%;
    transition: left 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s ;
}

.xvostic2 {
    position: absolute;
    width: 30%;
    left: 80%;
    top: 15%;
    rotate: 20deg;
    transition: left 1.5s ease 0.25s;
   pointer-events:visible;
    z-index: 1000;

}

.xvostic2:hover {
    left: 130%;
    transition: left 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275)  0.1s;
}
.xvostic3 {
    position: absolute;
    width: 20%;
    top: 10%;
    left: -2%;
    rotate: 70deg;
    transition: left 1.5s ease 0.25s;
    pointer-events:visible;
     z-index: 1000;

}
.xvostic3:hover {
    left: -50%;
    transition: left 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275)  0.1s;
}


.xvostic4 {
    position: absolute;
    width: 20%;
    left: 80%;
    top: 45%;
    rotate: -45deg;
    transition: left 1.5s ease 0.25s;
    pointer-events:visible;
    z-index: 1000;
}
.xvostic4:hover {
    left: 130%;
    transition: left 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s;
}





.hvostiki{
    position: absolute;
}


.falling {
    position: absolute;
    width: 3vw;
    height: 3vw;
    top: -5vw;
    animation: fall linear infinite;
}
.falling:hover {
    animation-play-state: paused;
    
}


.e1 { width: 14%;height: auto; left: 5%; animation-duration: 2.8s; animation-delay: 0s; }
.e2 { width: 15%;height: auto; left: 15%; animation-duration: 3.5s; animation-delay: 0.4s; }
.e3 { width: 7%;height: auto;left: 25%; animation-duration: 4.2s; animation-delay: 0.8s; }
.e4 { width: 12%;height: auto;left: 35%; animation-duration: 3.1s; animation-delay: 0.2s; }
.e5 { width: 7%;height: auto;left: 45%; animation-duration: 4.8s; animation-delay: 1.0s; }
.e6 { width: 15%;height: auto;left: 55%; animation-duration: 3.9s; animation-delay: 0.6s; }
.e7 { width: 8%;height: auto;left: 65%; animation-duration: 5.2s; animation-delay: 1.4s; }
.e8 { width: 15%;height: auto;left: 75%; animation-duration: 3.7s; animation-delay: 0.3s; }
.e9 { width: 5%;height: auto;left: 85%; animation-duration: 4.5s; animation-delay: 0.9s; }
.e10 { width: 8%;height: auto;left: 95%; animation-duration: 6.0s; animation-delay: 1.6s; }

@keyframes fall {
    0% { top: -50px; opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { top: 100%; opacity: 0; }
}

.fioletblock{
    position: relative;
    width: 33%; 
    height: 38vw;
    background-image: url("../img/fioletblock.png");
    background-size: 100%;
    overflow: hidden;
}

.over{
    width: 60vw; 
    height: 60vw;
    position: relative;
    top: 10%;
    left: 2%;
    overflow: hidden;
}
.gr1 {
    position: absolute;
    width: 100%; 
    overflow: hidden;
    z-index:2; 
    top: -0.2vw;
    left: 0.15vw;
}

.gr1:hover{
    opacity: 0;
}

.gr2 {
    position: absolute;
    width: 132vw; 
    scale: 1;
  
    height: auto;
    top: 8%;
    left: 0;
    transition: all 1s;
    animation: gr 2s steps(1) infinite;
    z-index: 1; 
}

@keyframes gr{
    0%, 100%{ top: -2vw; left: 0;}
    25%{  top: -2vw; left: -33vw;} 
    50%{  top: -2vw; left: -66vw;}
    75%{  top: -2vw; left: -99vw;}   
 }

.section_third{
    position: relative;
    width: 100%;
    height: 42vw;
}
.maind{
    position: absolute;
    width: 20vw;
    margin-top: -9vw;
      margin-left: 39%;
    z-index: 1; 
    animation: devilb 4s ease-in-out infinite;
    filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.3));
    transform-origin: bottom center;
}
/*
@keyframes devilb {
    0%, 100% {
        transform: translateY(0) scale(1);
    }
    50% {
        transform: translateY(-8px) scale(1.02);
    }
}
*/
.maind:hover {
    animation: devila 0.8s forwards;
    cursor: pointer;
}
/*
@keyframes devila {
    0% {
        transform: scale(1) translateY(0);
        filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.779));
    }
    50% {
        transform: scale(1.2) translateY(-30px);
        filter: drop-shadow(0 0 20px rgba(255, 0, 0, 0.8)) 
                brightness(1.3);
    }
    100% {
        transform: scale(1.2) translateY(-20px);
        filter: drop-shadow(0 0 30px rgba(255, 0, 0, 1)) 
                brightness(1.5)
                hue-rotate(-20deg);
    }
}*/

.notes{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1000;
}

.n1{
    position: absolute;
    width :33%;
    height: auto;
    margin-top: 6%;
    margin-left: -4%;
 animation: shakenotes 7s infinite ease-in-out;
    transition: transform 0.3s ease;

}

.n2{
    position: absolute;
    width :30%;
    height: auto;
    margin-top: 6%;
    margin-left: 65%;
 animation: shakenotes 7s infinite ease-in-out;
    transition: transform 0.s ease;

}
@keyframes shakenotes {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(6deg);
    }
      75% {
        transform: rotate(-3deg);
    }

}

.n1:hover, .n2:hover {
    animation: none;
    transform: scale(1.05) rotate(0deg);
}


.w1{
    position: absolute;
    width: 50vw ;
    margin-top: -28vw;
    margin-left: -4%;
     animation: movereverse  10s infinite linear;

}
.w2{
    position: absolute;
     margin-top: -21vw;
    margin-left: 43%;
    width: 60vw ;
    animation: move 12s infinite linear;
}
@keyframes move {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    20% {
        transform: translate(-2vw, 1vw) rotate(-2deg);
    }
    40% {
        transform: translate(1.5vw, -1.5vw) rotate(3deg);
    }
    60% {
        transform: translate(-1vw, 2vw) rotate(-1deg);
    }
    80% {
        transform: translate(2.5vw, -1vw) rotate(2deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@keyframes movereverse {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    20% {
        transform: translate(2vw, -1vw) rotate(2deg);
    }
    40% {
        transform: translate(-1.5vw, 1.5vw) rotate(-3deg);
    }
    60% {
        transform: translate(1vw, -2vw) rotate(1deg);
    }
    80% {
        transform: translate(-2.5vw, 1vw) rotate(-2deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}


.w1:hover {
    animation: pulse 1s infinite alternate;
}

.w2:hover {
    animation: pulse 1s infinite alternate-reverse;
}

@keyframes pulse {
    from {
        transform: scale(1);
    
    }
    to {
        transform: scale(1.1);
       
    }
}
    .rainbow{
      position: relative;
      width: 100%;
      height: 34vw;
      overflow: hidden;
    }

.sectionlast{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 85vw;
}

.l1{
    position: absolute;
    width: 100%;
    margin-top: -0.5%;
    margin-left: 0%;
    z-index: 1;
}

.redn{
    position: absolute;
    width: 200%;
    margin-top: 20%;
    margin-left: 0%;
    height: auto;
    rotate: 10.33deg;
    z-index: 1000;
    animation: runred 4s linear infinite;
    
}

@keyframes runred {
    0%,100% {
        transform: translateX(-50%);
    }
    50% {
        transform: translateX(-5%);
    }
}
.redn:hover{
     animation-play-state:paused;
}

.l2{
    position: absolute;
    width: 100%;
    margin-top: 24%;
    margin-left: 0%;
}


.runningtt {
    position: absolute;
    margin-top: 27%;
    left: 0;
    color: rgb(255, 255, 255);
    width: 100%;
    rotate: -2deg;
    font-size: 12vw;
    font-weight: bold;
    height: auto;
    white-space: nowrap;
    
    
    animation: runtt 7s linear infinite;
    
}

@keyframes runtt {
    0%, 100%{
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-300%);
    }
}

.runningtt:hover{
     animation-play-state:paused;
}

.l3{
    position: absolute;
    width: 100%;
    margin-top: 36%;
    margin-left: 0%;
}
.zigzzag{
    position: absolute;
   width: 490%;
    margin-top: 67%;
    margin-left: 0%;
    height: auto;
    rotate: 7.2deg;
    animation: run 10s linear infinite;
    
}

@keyframes run {
    0%,100% {
        transform: translateX(-80%);
    }
    50% {
        transform: translateX(-20%);
    }
}

.zigzzag:hover{
     animation-play-state:paused;
}



.l4{
    position: absolute;
    width: 100%;
    margin-top: 60%;
    margin-left: 0%;
}
.running-text {
    position: absolute;
    margin-top: 65%;
    left: 0;
    color: rgb(0, 0, 0);
    width: 100%;
    rotate: -3.4deg;
    font-size: 12vw;
    font-weight: bold;
    height: auto;
    white-space: nowrap;
    
    animation: runtext 15s linear infinite;
    
}

@keyframes runtext {
    0%,100% {
        transform: translateX(-5%);
    }
    50% {
        transform: translateX(-500%);
    }
}

.running-text:hover {
   animation-play-state:paused;
   
}




